/* ==========================================================================
   Wrapper
   ========================================================================== */

/**
 * Coloured wrapper for content background
 */


/* todo: make wrapper the grid */

/*.wrapper {
  padding: 1.5em;
  padding: 3.625em 1.5em 1.5em;
}

.wrapper > * {
  margin: 0 auto;
  max-width: 44em;
}*/

