<footer class="footer" id="footer" role="contentinfo">
  <div>
    <ol class="footer__social o-list-bare o-list-center">
      <li><a href="https://github.com/growdigital/" title="Link to Grow Digital on GitHub">GitHub</a></li>
      <li><a href="https://twitter.com/growdigital" title="Link to Grow Digital Twitter account">Twitter</a></li>
      <li><a href="mailto:contact@growdigital.org">Email</a></li>
      <li><a href="https://www.growdigital.org/rss.xml" title="Link to RSS news feed">RSS</a></li>
    </ol>
  </div>
</footer>
