<footer class="footer" id="footer" role="contentinfo">
  <div>
    <ol class="o-list-bare o-list-center">
      <li><a href="https://github.com/growdigital/" title="Link to Grow Digital on GitHub">GitHub</a></li>
      <li><a href="https://twitter.com/growdigital" title="Link to Grow Digital Twitter account">Twitter</a></li>
      <li><a href="mailto:contact@growdigital.org" title="Email me!">Email</a></li>
      <li><a href="https://www.growdigital.org/rss.xml" title="Link to RSS news feed">RSS</a></li>
    </ol>
  </div>
  <div class="u-small">
    <p>Designed &amp; built by <a href="https://www.growdigital.org/">Jake Rayson</a> with <a href="http://www.metalsmith.io/">Metalsmith</a>, deployed by <a href="https://www.netlify.com/">Netlify</a></p>
    <p>
      Content  &copy; Grow Digital Ltd under <a href="http://creativecommons.org/licenses/by-nc/4.0/">Attribution-NonCommercial 4.0 International</a> license,
      website licensed under <a href="https://choosealicense.com/licenses/mit/">MIT</a> &amp; <a href="https://choosealicense.com/licenses/gpl-3.0/">GPL v3</a>
    </p>
  </div>
</footer>
