<header class="header" role="banner">
  <a href="/" title="Link to home page">
    <img class="header__logo" src="/assets/images/logo-thick.svg" alt="Grow Digital logo">
  </a>
  <h2 class="header__heading"><a href="/" title="Link to home page">{{ site.title }}</a></h2>
  <nav class="header__nav" role="navigation">
    <ol class="nav o-list-bare o-list-center">
      <li><a class="blog" href="/blog/" title="">Blog</a></li>
      <li><a class="home" href="/" title="">Home</a></li>
      <li><a class="about" href="/about/">About</a></li>
    </ol>
  </nav>
</header>
