<header class="header" role="banner">
  {{> nav}}
  <div class="header__logotype">
    <img class="header__logo" src="/assets/images/logo.svg" alt="Grow Digital logo">
    <h1 class="header__title">{{ site.title }}</h1>
    <h2 class="header__desc">{{ site.description }}</h2>
  </div>
</header>
