<header class="header" role="banner">
  <h2 class="header__title">
    <a class="header__flex u-linkless" href="/" title="Link to home page">
      <img class="header__logo" src="/assets/images/logo-thick.svg" alt="Grow Digital logo">
      {{ site.title }}
    </a>
  </h2>
  {{> nav}}
  <div class="header__spacer">
  </div>
</header>
