<header class="header" role="banner">
  <img class="header__logo" src="/assets/images/logo.svg" alt="Grow Digital logo">
  <h1 class="header__title header__title--home">{{ site.title }}</h1>
  <h2 class="header__desc">{{ site.description }}</h2>
  {{> nav}}
</header>
