<nav class="header__nav" role="navigation">
  <ol class="nav o-list-bare o-list-center">
    <li><a class="blog" href="/blog/" title="">Blog</a></li>
    <li><a class="home" href="/" title="">Home</a></li>
    <li><a class="about" href="/training/">Training</a></li>
  </ol>
</nav>
