/* ==========================================================================
   Home page CSS
   ========================================================================== */

/**
 * Dark Solarized for home page, rest of site is light Solarized
 */

html.home {
  background-color: var(--dimmest);
  color: var(--gray_light);
}

.home .nav {
  background-color: var(--dim);
}

/* todo : check */


.home .header {
  padding-top: 0;
}
