/* ==========================================================================
   Home page CSS
   ========================================================================== */

/**
 * Dark Solarized for home page, rest of site is light Solarized
 */

html.home {
  background-color: var(--dimmest);
  color: var(--gray_light);
}

/* Make email align center on home page */
.home main {
  text-align: center;
}
