/* ==========================================================================
   Nav
   ==========================================================================*/

/**
 * Used for main and secondary nav
 */

.nav a {
  padding: 0.3em 0.8em;
  text-decoration: none;
}

/* Menu page trails */

/* Main nav */
.home .nav .home,
.about .nav .about,
.blog .nav .blog
{
  background-color: var(--base_bgtint);
}

.nav a,
.nav a:hover,
.nav a:focus,
.nav a:active {
  color: var(--base1);
}

.nav a:hover {
  text-decoration: underline;
}

