/* ==========================================================================
   Nav
   ==========================================================================*/

.nav {
  background-color: var(--dim);
  font-size: 0.96875em;
  padding-top: 1.8em;
  padding-bottom: 1.3em;
}

.nav a {
  border-radius: 3px;
  padding: 0.5em 0.8em;
  text-decoration: none;
}

.nav > * {
  margin: 0 0.3em;
}

/* Menu page trails */
.home .nav .home,
.about .nav .about,
.blog .nav .blog,
.post .nav .blog
{
  background-color: var(--dimmest);
  box-shadow: inset 0 0 2px var(--nearblack);
  cursor: default;
}

/* Menu links */
.nav a,
.nav a:hover,
.nav a:focus,
.nav a:active {
  color: var(--gray);
}

.nav a:hover {
  background-color: var(--dimmest);
  box-shadow: inset 0 0 2px var(--nearblack);
}
