/* ==========================================================================
   Shameful CSS
   ========================================================================== */

/**
 * Put shameful CSS in here. Refactor later.
 * http://csswizardry.com/2013/04/shame-css/
 */

/**
 * Use the CSS Wizardry hack namespace
 * eg ._footer-mobile {}
 * https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/#hack-namespaces-_
 */

/* Use debug utility to quickly outline problematic elements */
.red {
  outline: 1px solid red !important;
}

.blue {
  outline: 1px solid blue !important;
}

.green {
  outline: 1px solid green !important;
}

.bg {
  background-color: yellow;
}


/* Make email align center on home page */
.home main {
  text-align: center;
}



/* put in type utilities */
.u-small {
  font-size: small;
}

/* todo: check against SUIT implementation */
.u-linkless {
  color: currentColor !important;
  text-decoration: none !important;
}

.u-linkless:hover {
  text-decoration: underline !important;
}


/* awful hack until sort out mobile first layout */

/* hide grow digital site title! */
.header__title {
  display: none;
}

/* until 34.625em wide */
@media screen and (min-width: 34.625em) {
  .header__title {
    display: unset;
  }
}

/* and on home page */
.home .header__title {
  display: unset;
}

