/* ==========================================================================
   Shameful CSS
   ========================================================================== */

/**
 * Put shameful CSS in here. Refactor later.
 * http://csswizardry.com/2013/04/shame-css/
 */

/**
 * Use the CSS Wizardry hack namespace
 * eg ._footer-mobile {}
 * https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/#hack-namespaces-_
 */

/* Use debug utility to quickly outline problematic elements */
.red {
  outline: 1px solid red !important;
}

.blue {
  outline: 1px solid blue !important;
}

.green {
  outline: 1px solid green !important;
}

.bg {
  background-color: yellow;
}





/* put in type utilities */
.u-small {
  font-size: small;
}

/* todo: check against SUIT implementation */
.u-linkless {
  color: currentColor !important;
  text-decoration: none !important;
}

.u-linkless:hover {
  text-decoration: underline !important;
}
