/* ==========================================================================
   Shameful CSS
   ========================================================================== */

/**
 * Put shameful CSS in here. Refactor later.
 * http://csswizardry.com/2013/04/shame-css/
 */

/**
 * Use the CSS Wizardry hack namespace
 * eg ._footer-mobile {}
 * https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/#hack-namespaces-_
 */

/* Use debug utility to quickly outline problematic elements */
.u-debug {
  outline: 1px solid red !important;
}


._layout {
  margin: 0 auto;
  max-width: 44em;
}

.main__wrapper {
  background-color: var(--base_bgtint);
  padding: 3.225em 2.3125em 1.625em;
  /*outline: 1px solid green;*/
}

.main__wrapper > * {
  /*outline: 1px solid purple;*/
}

/* todo: check against SUIT implementation */
.u-linkless {
  color: currentColor !important;
  text-decoration: none !important;
}

.u-linkless:hover {
  text-decoration: underline !important;
}
