/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
  background-color: var(--dim);
  padding: 1em;
  text-align: center;
}

/* Footer links */

.footer a:link {
  text-decoration: none;
}

.footer a:visited {
  color: var(--blue);
}

.footer a:hover {
  color: var(--yellow);
  text-decoration: underline;
}


/* Footer social */

.footer__social {
  padding: 2em 1em 1.5em;
}

.footer__social > * {
  margin: 0 1em;
}
