{{! --------------------------------------------------------------------------
    Footer
    --------------------------------------------------------------------------}}

{{!--
   - Footer notes
   --}}

<footer class="footer">
  <p>Footer in here!</p>
</footer>
