<!doctype html>
<html lang="en-gb">
{{> head}}
<body class="no-js {{ pageClass }}">

  {{> header}}
  <div class="wrapper">
    <main role="main">
      {{{ contents }}}
    </main>
    {{#unless home}}
      {{> aside}}
    {{/unless}}
  </div>{{!-- end .wrapper --}}

<script src="/assets/scripts.js"></script>
</body>
</html>
