<!doctype html>
<html lang="en-gb" class="{{ pageClass }}">
  {{> head}}

<body class="no-js">
{{#if home}}
  {{> header-home}}
{{else}}
  {{> header}}
{{/if}}

  <div class="main__container">
    <main class="wrap__content" role="main">
      {{{ contents }}}
    </main>
  </div>
  {{#unless home}}
    {{> aside}}
  {{/unless}}

<script src="/assets/scripts.js"></script>
</body>
</html>
