<!doctype html>
<html lang="en-gb" class="{{ pageClass }}">
{{> head}}

<body class="no-js">

{{#if home}}
  {{> header-home}}
{{else}}
  {{> header}}
{{/if}}

<div class="wrap__layout">
  {{> main}}
  {{#unless home}}
    {{> aside}}
  {{/unless}}
</div>

{{#unless home}}
  {{> footer}}
{{/unless}}

<script src="/assets/scripts.js"></script>
</body>
</html>
