/* ==========================================================================
   Wrap
   ========================================================================== */

/**
 * All the wrappers, for backgrounds, margins, padding etc.
 */

/* For grid layout, main and aside elements */
.wrap__layout {

}

/* Padding for container elements, ie main and aside */
.wrap__container {
  padding-bottom: 1.625em;
  padding-left: 2.3125em;
  padding-right: 2.3125em;
}

/* Centering and max width for contents of container elements */
.wrap__content {
  margin: 0 auto;
  max-width: 44em;
}
