/* ==========================================================================
   Header
   ========================================================================== */

.header {
  background-color: var(--base_bg);
  display: flex;
  justify-content: space-between;
  padding-right: 10.625em; /* Magic number hack, equals width of heading & logo */
}
/* TODO: remove that magic numnber hack!!! */

.header__heading {
  font-size: 1.125em;
}

.header__heading,
.header__heading a:link,
.header__heading a:visited {
  color: var(--base_colortint);
}

.header__flex {
  align-items: center;
  display: flex;
  padding-left: 1.25em;
  padding-top: 0.625em;
}

.header__logo {
  margin-right: 0.875em;
}

.header__nav {
  flex: 1;
}

