/* ==========================================================================
   Header
   ========================================================================== */

.header {
  align-items: center;
  background-color: var(--dimmest);
  display: flex;
  text-align: center;
}

.header__title {
  font-size: 1.125em;
  margin: 0;
}

.header__title,
.header__title a:link,
.header__title a:visited {
  color: var(--yellow);
}

.header__logo {
  width: 2.125em;
}

.header__desc {
  color: var(--gray_light);
  display: none;
  font-size: 1.3em;
  margin-bottom: 2em;
}


/* Home page variations */

.home .header {
  flex-direction: column;
}

.home .header__nav {
  align-self: stretch;
  margin-bottom: 2.0625em;
  order: 1;
}

.home .header__logo {
  order: 2;
  width: 8.75em;
}

.home .header__title {
  font-size: 2.25em;
  margin: 1em 0;
  order: 3;
}

.home .header__desc {
  display: block;
  order: 4;
}
