/* ==========================================================================
   Header
   ========================================================================== */

.header {
  align-items: center;
  background-color: var(--dimmest);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header__title {
  font-size: 1.125em;
  font-size: 2.25em;
  margin: 1em 0;
}

.header__title,
.header__title a:link,
.header__title a:visited {
  color: var(--yellow);
}

.header__nav {
  align-self: stretch;
  margin-bottom: 2.0625em;
}

.header__desc {
  color: var(--gray_light);
  font-size: 1.3em;
  margin-bottom: 2em;
}
